*{
  color: #fff;
}

body{
  background-color: #222;
}

#content{
  margin: 30px auto;
  width: 70%;
}

code {
  font-family: "Courier New", monospace;
  background: #1a1a1a;
  color: #fff;
  padding: 2px 4px;
  border-radius: 3px;
}

pre code {
  display: block;
  padding: 15px;
  border: 1px solid #fff;
  color: #fff;
  overflow-x: auto;
}

pre {
  margin: 20px 0;
  padding: 0;
}

.blog-main{
  width: 40%;
  list-style: none; 
  display: flex; 
  flex-direction: column; 
  gap: 5px; 
  margin: 30px auto;
}

.blog-main a {
  padding: 5px 30px; 
  border-radius: 10px;
  background-color: #111;
  text-decoration:none; 
  color: #111;
}

.blog-main a div {
  margin: 0 auto;
  display: flex; 
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .blog-main{
    width: 80%;
  }

  #content{
    width: 80%;
  }
}

@media (max-width: 599px) {
  .blog-main{
    width: 90%;
  }
}

